body {
    background-image: url(fundo.jpg);
    background-size: 100%;
    display: flex;
}

header {
    background-color: white;
    display: flex;
    width: 100%;
}

.botoes {
    display: flex;
    margin-left: 20%;
    justify-content: center;
    font-size: 35px;
}

.botoes .inicio {
    width: 200px;
    background-color: #145da0;
    text-align: center;
    border-radius: 5px;
    margin: 0 0.5em;
}

.botoes .inicio a {
    text-decoration: none;
    color: white;
}

.botoes .ferramentas {
    width: 200px;
    background-color: #145da0;
    margin: 0 0.5em;
    text-align: center;
    border-radius: 5px;
}

.botoes .ferramentas a {
    text-decoration: none;
    color: white;
}

.botoes .atividades {
    width: 200px;
    background-color: #145da0;
    margin: 0 0.5em;
    text-align: center;
    border-radius: 5px;
}

.botoes .atividades a {
    text-decoration: none;
    color: white;
}


